      
h1#h1id{color:aqua;}
p.c1{color:violet;}

/* class selector */
/* .c1{} */

/* id selector */
/* #id{} */

/* element selector */
h1 {
        color: blue;
        text-align: center;
      }

      .c1{   color: yellow;}

      /* group selector */
      /* h1,p,div,span,.c1,#id1,,,,,,,,,{} */
